<% if @orders.empty? %>
You have no orders yet
<% else %>
  <% @orders.each do |order| %>

  <div class="card float-left m-3" style="width: 18rem;">
  <div class="card-body">
    <%= tag.div id: "order-#{order.id}" do %>
      <p><%= link_to "Order ID #{order.id}", profile_order_path(order) %></p>
      <p>Created: <%= order.created_at %></p>
      <p>Last Update: <%= order.last_update %></p>
      <p>Status: <%= order.status %></p>
      <p>Item Count: <%= order.total_item_count %></p>
      <% if order.coupon %>
        <p>Coupon applied: <%= order.coupon.code %> for merchant: <%= order.coupon.user.name %></p>
        <% if order.coupon.coupon_type == 'percentage' %>
          <p>Discount: <%= order.coupon.amount %>%</p>
        <% else %>
          <p>Discount: <%= number_to_currency(order.coupon.amount) %></p>
          <p><%= number_to_currency(order.coupon.cart_minimum) %> cart minimum amount</p>
        <% end %>
        <p></p>
      <% end %>
      <p>Total Cost: <%= number_to_currency(order.total_cost) %></p>
    <% end %>
  </div>
  </div>
  <% end %>
<% end %>