<%= form_for @coupon do |f| %>
  <% if @coupon.errors %>
    <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.hidden_field :coupon_type %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <% if @coupon.coupon_type == 'dollars' %>
    <%= f.label :cart_minimum %>
    <%= f.number_field :cart_minimum %>
  <% end %>
  <%= f.label :code %>
  <%= f.text_field :code %>
  <%= f.submit %>
<% end %>