<h1>CouponsCouponsCoupons!</h1>

<div id="coupons">
  <p><%= link_to 'Create New Coupon: Percentage', new_coupon_path(type: 'percentage') %></p>
  <p><%= link_to 'Create New Coupon: Dollars', new_coupon_path(type: 'dollars') %></p>
  <% @coupons.each do |coupon| %>
    <div class="coupon-display" id="coupon-<%= coupon.id %>">
      <h3><%= coupon.code %></h3>
      <% if coupon.percentage? %>
        <p><%= coupon.amount %>% discount</p>
      <% else %>
        <p><%= number_to_currency(coupon.amount) %> discount</p>
        <p><%= number_to_currency(coupon.cart_minimum) %> cart minimum amount</p>
      <% end %>
      <% if coupon.used %>
        <p>USED</p>
      <% else %>
        <p>This coupon has not been used.</p>
        <%= link_to 'Delete', coupon_path(coupon), method: :delete %>
        <%= link_to 'Edit', edit_coupon_path(coupon) %>
      <% end %>
    </div>
  <% end %>
</div>
